body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.top-background {
  background-color: #deecff;
  position: relative;
  padding-top: 250px;
}

h1 {
  color: #66bfbf;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  /*100% is 16px , 1em is 16px*/
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding: 30px 0 30px;
}

p {
  line-height: 2rem;
  padding-bottom: 20px;
}

hr {
  border-top: dotted 10px;
  border-bottom: none;
  color: #EAF6F6;
  width: 10%;
  margin: 100px auto;
}

a {
  color: #11999E;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  padding: 20px 0;
}

.middle-container {
  margin: 100px 0;
  /*100px for top/bottom and 0 for left/right*/
}

.introduction {
  width: 25%;
  /* 30% of parent middle container */
  margin: auto;
  /*make it center of webpage*/
}

.topCloud {
  position: absolute;
  right: 500px;
  top: 150px;
}

.bottomCloud {
  position: absolute;
  left: 500px;
  bottom: 500px;
}

.mountain {
  position: relative;
  width: 40%;
}

.skillImg {
  width: 25%;
  float: left;
  /* wraps text around */
  margin-right: 30px;
}

.skillImg2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profileImg {
  width: 15%;
}


.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}


.skill-row {
  text-align: left;
  width: 50%;
  margin: 75px auto 175px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #119994);
  background-image: -moz-linear-gradient(top, #11cdd4, #119994);
  background-image: -ms-linear-gradient(top, #11cdd4, #119994);
  background-image: -o-linear-gradient(top, #11cdd4, #119994);
  background-image: linear-gradient(to bottom, #11cdd4, #119994);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #303cbd;
  background-image: -webkit-linear-gradient(top, #303cbd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #303cbd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #303cbd, #2bc4ad);
  background-image: -o-linear-gradient(top, #303cbd, #2bc4ad);
  background-image: linear-gradient(to bottom, #303cbd, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
